@media screen and (max-width:1250px){
    .aboutme h1{
        font-size: 2rem;
    }
    #home, #about, #work, #contact{
        padding:2% 5%;
    }
}
@media screen and (max-width:1000px){

    .mypicture{
        width:300px;
        height:350px;
        border-radius:0px;
    }
   .header{
    padding:5px 10px;
    align-items: center;
   }
   .logo{
       font-size:2rem;
   }
    .nav_item{
        font-size: 1.4rem;
    }
    .home_right{
     margin-left:1rem;   
    }
    .home_right h1, .home_right h1:before{
        font-size: 2rem;
    }
    .home_right p:last-child{
        font-size: 1rem;
    }
    .home_end{
        display: none;
    }
 .aboutme,  .skills{
     padding-right: 0;
     width:90vw;
     font-size: 2rem;
     margin-left: 2.5vw;
     height:max-content;
     padding-bottom: 1rem;
     margin-bottom: 2rem;
}
.aboutme p{
    font-size: 2rem;
}
.aboutme h1, .skills h1{
    font-size: 2rem;
    text-align: center;
}
.skill_set{
    justify-content: right;
    flex-grow: 2;
    flex-wrap: wrap;
    width:100%;
    height:100%;
}
.skill_item{
    margin:1rem;
}
#contact{
    padding:0vh 3vw;
    width:100vw;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
}
.contactme{
    text-align: center;
}
.contact_top{
    flex-direction: column;
}
#contact-send{
    margin-left: 5%;
}
#contact-name, #contact-email, #contact-comment{
    margin-bottom:5%;
}


.social{
    flex-direction: row;
    width:100%;
    margin-bottom: 1rem;
}
.social a{
    margin:4rem;
}
.blog_item{
    padding:3vh 0vw;
}
.blog_embed{
    width:100%;
}
.blog_date{
    display: none;
}
}  






@media screen and (max-width:728px){
    html{
        font-size:12px;
    }
    .loader_wrap{
        width:100vw;
        height:100vh;
    }
    .logo{
        display:none;
    }
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0;
        height: 4rem;
    }
    .nav_list{
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
    }
    .nav_item{
        font-size: 1.1rem;
        margin-left: 1rem;
    }
    body{
        overflow: hidden;
    }
    #home{
        padding:8vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mypicture_bg{
        width:100vw;
        z-index: ;
    }
    .mypicture_box{
        width:100vw;
        height:60vh
    }
    .mypicture{
        width:300px;
        height:350px;
        border-radius:0px;
    }
    .home_end{
        display: none;;
    }
    .home_right{
        width:100vw;
        padding:2% 5%;
        text-align: center;
        margin:0;
    }
    .home_right h1{
        color:var(--hai);
        font-size: 3rem;
    }
    .home_right p:last-child{
        font-size: 1.2rem;
    }
    .home_right h1::before{
        text-align: center;
        content: "";
        margin:0;
        color:GREY;
    }
    .home_right p:last-child{
        margin-top:1rem;
        transform: translate(0%);
    }
    hr{
        transform: translate(0%);
    }
    .aboutme {
        border-bottom: 0;
        padding-bottom: 1vh;
        padding-top: 5vh;
    }
    .skills{
        padding-top: 1vh;
    }
    .skills h1{
        margin-bottom:0;    
    }
    .skill_set{
        justify-content:flex-start;
        flex-flow: row wrap;
        align-items: center;
    }
    .aboutme h1{
        font-size: 2.1rem;
    }
    .aboutme p{
        font-size: 1.6rem;
    }


.contact_item{
    width:50px;
    font-size: 0.8rem;
    height:50px;
}
.contact_details{
    padding:2% 6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    text-align: left;
}
.contact_details h1{
    margin:1.5rem 0;
}
.social{
flex-direction: row;
}
.social a{
    margin:5%;
}
.projects{
    padding-top:10vh;
  flex-direction: column;
}
.blogs{
    flex-direction: column-reverse;
}
.project_wrap{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_item{
    width:70vw;
    height:150px;;
    margin-bottom: 1rem;;
}

.project_info{
    width:80vw;
    margin-left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project_image{
    height:100%;
}

.project_description{
    margin-left: 0;
}
.project_description h1{
    font-size:1.3rem;
    font-weight:500;
}
.project_description p{
margin-bottom:1.1rem;

}
.project_expand{
    width: 100vw;
    height:20vh;
    font-size:2rem;
}

.social{
    margin-bottom: 4rem;
}
#contact{
    width:100vw;
    height:100vh;
}
#contact-name, #contact-email{
    width:80vw;
    font-size:1.1rem;
    border-width: 2px;
}
#contact-name, #contact-email, #contact-comment{
    margin-bottom:10%;
}
#contact-comment{
    width:80vw;
    margin-bottom: 0.6rem;
    font-size:1.1rem;
    border-width: 2px;

}
#contact-send{
    margin-top:1rem;
    align-self: center;

}
.text{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
#work{
    padding:0vh 3vw;
    width:100vw;
    height:100vh;
}
.projects{
    padding-top:7vh ;
}

.project_illustration img, .blog_illustration img{
width:120px;
height:120px;
}
.blog{
    padding:1vh 2vw;
}
.blog_info{
    flex-direction: column;
}
.blog_name{
    font-size:1.5rem;
    font-weight:600;
}
.blog_item{
    border: 0;
}

}