*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

:root{
    --yellow:#EEC710;
    --hai:#0D1239;
    --grey:#6A7B83;
}

body{
    overflow: hidden;
}

html{
    font-size:16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-X: hidden;
    scroll-behavior: smooth;
}

.loader_wrap{
    overflow-y: hidden;
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: cornsilk;
    display: flex;
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.ripple{
    width:20px;
    height:20px;
    border-radius: 100px;
    position: absolute;
    background-color:  var(--yellow);
}

.ripple1{
    
    border-radius:100px;
    position: absolute;
    animation: bluecircle 0.6s ease-out infinite;
}

@keyframes bluecircle{
    0%{
        width:20px;
        height:20px;
        background-color: none;
    }
    100%{
        width:50px;
        height:50px;
        opacity:0;
        border:20px solid var(--hai);

    }
}

@keyframes yellowcircle{
    0%{
        width:20px;
        height:20px;
        background-color: none;
    }
    100%{
        width:100px;
        height:100px;
        opacity:0;
        border:50px solid var(--yellow);

    }
}
.ripple2{
    
    border-radius:100px;
    position: absolute;
    animation: yellowcircle 0.6s ease-out infinite;
    animation-delay: 0.6s;
}

.hide{
    animation-delay: 1s;
animation:fade 1s ease-out;
}

@keyframes fade{
    100%{
        opacity:0;
        visibility: hidden;
    }
}
/* components */
.flex{
    display: flex;
}

.header{
    background-color: var(--hai);
    height:2rem;
    justify-content: space-between;
    align-items:center;
    padding:10px 80px 10px 50px;
    color:white;
    height: 8vh;
    position: fixed;
    z-index: 1000;
    width:100%;
}

.logo{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
    color:var(--yellow);
    letter-spacing: 0.2rem;
}
.nav_list{
    list-style-type:none;
    text-decoration: none;
}
.nav_item{
    padding:10px;
    opacity:1;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color:rgba(255, 255, 255, 0.705);
    transition: 0.1s ease-in-out;
}
.nav_item:hover{
    color:var(--yellow);
    transition: 0.4s ease-in-out;
}
#home{
    overflow: hidden;
    width:100vw;
    height:100vh;
    margin:0;
    background-color: white;
    display: flex;

}
.mypicture_box{
    width:50vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.mypicture_bg{
    width:70vw;
    height:45vh;
    transform: translate(-20%);
    background-color: var(--yellow);
    border-radius: 1000px;
    position: absolute;
    
}
.mypicture{
    width:400px;
    height:450px;
    z-index: 10;
    /* border-radius:0 300px 150px 0px; */
    border-radius: 20px;
    border-bottom: 20px solid var(--hai);
    /* background-color: aliceblue; */
}

.home_right{
    width:50vw;
    height:100vh;
    margin:0;
    display: flex;
    margin-left:2rem;
    flex-direction: column;
    justify-content: center;
}

.home_right h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing:0.3rem;
    color: var(--yellow);

}
.home_right h1::before{
    content: "JASWANTH";
    position: absolute;
    margin:3px;
    font-size: 4rem;
    color:var(--hai);
    
}
.home_right p:first-child{
    font-size: 3rem;
    color: var(--grey);
    font-weight: bold;
}

.home_right p:last-child{
    margin-top:2rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight:600;
    text-align: right;
    color: var(--grey);
    text-align: center;
}
.home_end{
    width:10vw;
    height:100vh;
    background-color: var(--yellow);
    z-index:10;
    right:0;
}
hr{
    transform: translate(10%);
    border-radius: 100px;
    border: 2px solid var(--hai);
}
#typed{
    font-size: 2rem;
    margin-top: 1rem;
}

#about{
    background-color: rgb(225, 225, 225);
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10vh ;
    flex-direction: column;
}


.aboutme{
    width:80%;
    margin-bottom: 1.75rem;
    border-bottom:5px solid var(--yellow);
    padding-bottom:4vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aboutme h1{
    font-size: 3rem;
    font-weight:800;
    margin-bottom: 0.5rem;
    color:var(--hai);
}

.aboutme p{
    font-size: 1.5rem;
    font-weight: 300;
}

.aboutme p span {
    font-weight: 400;
    font-size: 1.7rem;

}

.aboutme p::first-letter{
    font-size:1.9rem;
}

.skills{
    width:65vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    border-top:5px solid var(--hai);
    float: right;
    text-align: right;
}

.skills h1{
    font-size: 3rem;
    font-weight:800;
    margin-bottom: 1rem;
    color:var(--yellow);
}

.skill_set{
    display: flex;
    flex-basis:70%;
    margin:3% 0;
    justify-content: flex-end;
    align-items: center;
    /* padding:1rem 3rem; */

}
.skill_item{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-left: 2.5rem;
    border:2px solid var(--yellow);
    padding:0.5rem 1rem;
    background-color: var(--yellow);
    color:var(--hai);
    font-weight: 600;
    border-radius:50px;
    transition: all 0.2s ease-in-out;
}
.skill_item:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1) translateY(-10px);
    border:2px solid var(--hai);
    background-color: var(--hai);
    color:var(--yellow);
    box-shadow:1px 1px 100 var(--yellow)
}
#work{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10vh ;
    flex-direction: column;
}


.projects, .blogs{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;

}
.projects h1, .blogs h1{
    font-size: 3rem;
    font-weight:800;
    color:var(--yellow);
    margin-bottom:2rem;
}

.blogs h1{
    color:var(--hai);
}
#project{
    padding:10vh 0;
}

.project_wrap:last-child{
    border-bottom: 0;
}

.project_expand{
    width:50vw;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.project_expand h1{
    font-size: 3rem;
    text-align: center;
    color:var(--yellow);
}


.project_image{
   width:100%;
    height:100%;
    border:1px solid #0D1239;
}
.project_description{
    display: flex;
    height:150px;
    width:60vw;
    margin-left: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:var(--hai);
}
.project_description h1{
    font-size: 1.8rem;
    color:var(--yellow);
    font-weight: 600;
    justify-self: flex-start;
}
.project_description p{
    font-size: 1.1rem;

}
.project_code{
    display: flex;
    margin:0 1rem;
}

.project_illustration, .blog_illustration{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50vw;
    height: 100%;
}
.project_info{
    width:70vw;
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
}
.view p{
    margin-right:1.5rem;
    font-size: 1.25rem;
    background-color:var(--yellow);
    border-radius: 100px;
    border:5px solid var(--yellow);
    color:var(--hai);
    padding:0rem 1rem;
}

.play p{
    padding:0.5rem;
    font-size: 1.2rem;
    color:var(--hai);
    border-bottom:5px solid var(--yellow);
    /* border-radius: 100px; */
    background-color:white;
    padding:0.2rem 1rem;
}
.blogs{
    display: flex;
    width:100vw;
    height:22vh;
    justify-content: center;
    align-items: center;
}

.blog_expand{
    width:50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog_expand p{
    font-size: 1.1rem;
    border-radius: 100px;
    border:5px solid var(--yellow);
    padding:0.6rem 1rem;
    transition: all 0.3s ease-in-out;

}
.blog_expand p:hover{
    transition: all 0.3s ease-in-out;
    border-color: var(--hai);
    background-color: var(--yellow);
    transform: scale(1.2);

}
.none{
    display: none;
}
#contact{
    background-color: rgb(225, 225, 225);
    width:100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:10vh 5vh ;
    flex-direction: column;
}

.contact_top{
    display: flex;
    margin:2%;
    justify-content: center;
    align-items: center;
}


.text{
    display: flex;
}
.contact_form{
    display: flex;
    padding-top: 1rem;
    margin:1% 5%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.contact_details{
    width:100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.contact_details h1{
    margin-right: 2rem;
}
.contactme h1{
    font-size: 3rem;
    font-weight:800;
    color:var(--hai);
}
#contact-name, #contact-email{
flex-basis: 100%;
    font-family: monospace;
    padding:0.6rem 0.5rem;
    font-size: 1.3rem;
    border: 5px solid var(--yellow);
    border-radius: 3px;
    margin-bottom: 2rem;
    color: var(--hai);
    font-weight: 500;
    letter-spacing: 1px;
}

#contact-name::before{
background-color: var(--hai);
width:100%;
height: 100%;
margin-left: 1rem;
}
#contact-comment{
    flex-basis: 100%;
    padding:1rem;
    font-size: 1.3rem;
    border: 5px solid var(--yellow);
    border-radius: 3px;
    max-height:10rem;
    color:var(--hai);
}
#contact-send{
    height:45px;
    padding:0 1rem;
    width:150px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--yellow);
    justify-self: flex-end;
    margin-left: 3rem;
    align-self: flex-end;
    background-color: var(--hai);
    border:3px solid var(--yellow);
    border-radius: 100px;
    transition: all 0.3s ease-in-out;

}
#contact-send:hover{
    transition: all 0.3s ease-in-out;
    color:var(--hai);
    border-color: var(--hai);
    background-color: var(--yellow);
}
.contact_details h1{
    font-size: 2rem;
    font-weight: 400;
}
.contact_details p{
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.15rem;
}
.social{
    flex-basis:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_item{
    margin-bottom: 2rem;
    color:var(--yellow);
    background-color: var(--hai);
    width:70px;
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    transition: all 0.3s ease-in-out;
    height:70px;
    margin:1rem;
}
.contact_item:hover{
    width:100px;
    height:100px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    color:var(--hai);
    background-color: var(--yellow);

}
.project_wrap{
width:100vw;
height:max-content;
overflow-x: hidden;
/* background-color: #6A7B83; */
height:max-content;
padding:2vh 5vw;
justify-content: center;
align-items: center;
margin-bottom: 2rem;
display: flex;
border-width: 2px;
}
.project_item{
width:40vw;
height:250px;
margin:2px;
}
.project_exp{
    font-size: 3rem;
    color:var(--hai);
}



.projects, .blogs{
    display: flex;
    height:50vh;
    width:100vw;
    justify-content: center;
    align-items: center;
}
.project_expand p{
    font-size: 1.1rem;
    border-radius: 100px;
    width:max-content;
    border:5px solid var(--hai);
    padding:0.6rem 1rem;
    transition: all 0.3s ease-in-out;
}
.project_expand p:hover{
    transition: all 0.3s ease-in-out;
    background-color: var(--hai);
    color:var(--yellow);
    transform: scale(1.2);
}


.project_illustration img{
    height:300px;
    width:300px;
}

a{
    color:inherit;
    text-decoration: none;
}

.blog_illustration img{
        height:300px;
        width:300px;
    }
.project_exp{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
#blog .project_expand h1{
    margin-top:10rem;
}
.project_exp h1{
    border-top: 10px solid var(--yellow);
    border-bottom: 10px solid var(--yellow);
    font-size: 3rem;
    margin-top:4rem;
}

.blog{
    width:100vw;
    height:max-content;
    padding:2vh 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog_item{
    padding:3vh 3vw;
    /* margin:3rem; */
    display: flex;
    flex-direction: column;
}

.blog_item:first-child{
    border-bottom:3px solid var(--yellow);
}

.blog_info{
  display: flex;
  width:100%; 
  height:max-content;
  justify-content: space-between;
  margin-bottom: 2rem; 
}
.blog_item p{
    font-size: 1.25rem;
}

.blog_name{
font-size: 2rem;
color:var(--hai);
text-transform: uppercase;
font-weight: 700;
}

.blog_date{
    font-size:1.2rem;
    color:var(--grey);
}

.blog_item a{
    font-size: 1.3rem;
    color:var(--grey);
    text-decoration: underline;
    align-self: flex-end;

}